In [1]:
#load libraries
import pandas as pd
import numpy as np
from pyzillow.pyzillow import ZillowWrapper, GetDeepSearchResults, GetUpdatedPropertyDetails
from datetime import datetime

In [2]:
#read data file
data = pd.read_csv("C:/Users/kalyaniK/Documents/Zillow data/SampleAddrFile.csv") #SecondMort
data.head()

,ProcessDate,PARENTACCOUNT,TYPE,Description,Ordinal,ID,FirstMortgageBalance_UserAmount1,Valuation_UserAmount2,SubjectPropertyStreet_UserChar1,SubjectPropertyExtraAddress_UserChar2,SubjectPropertyCity_UserChar3,SubjectPropertyCounty_UserChar4,SubjectPropertyState_UserChar5,SubjectPropertyZipcode_UserChar6
0,20180630,13862,31,PropertyAddressInfo,1,39,0.0,95900,5105 W HOMER AVE,NaN,TAMPA,NaN,FL,336297522
1,20180630,14159,31,PropertyAddressInfo,1,39,0.0,0,2913 WEST OSBORNE AVE,NaN,TAMPA,NaN,FL,33614
2,20180630,15180,31,PropertyAddressInfo,2,39,0.0,0,3202 N MACDILL AVE,NaN,TAMPA,NaN,FL,33607
3,20180630,17079,31,PropertyAddressInfo,1,39,0.0,314600,815 N VALRICO RD,NaN,VALRICO,NaN,FL,33594
4,20180630,17152,31,PropertyAddressInfo,0,39,0.0,0,705 S LOIS AVE,NaN,TAMPA,NaN,FL,336090000

In [3]:
#clean address fields
#convert to upper case 
data.SubjectPropertyStreet_UserChar1 = data['SubjectPropertyStreet_UserChar1'].astype(str).str.upper()
data.SubjectPropertyExtraAddress_UserChar2 = data['SubjectPropertyExtraAddress_UserChar2'].astype(str).str.upper()
data.SubjectPropertyCity_UserChar3 = data['SubjectPropertyCity_UserChar3'].astype(str).str.upper()
data.SubjectPropertyState_UserChar5 = data['SubjectPropertyState_UserChar5'].astype(str).str.upper()
data.SubjectPropertyZipcode_UserChar6 = data['SubjectPropertyZipcode_UserChar6'].astype(str).str.upper()
#remove leading and trailing white spaces
data.SubjectPropertyStreet_UserChar1 = data['SubjectPropertyStreet_UserChar1'].str.strip()
data.SubjectPropertyExtraAddress_UserChar2 = data['SubjectPropertyExtraAddress_UserChar2'].str.strip()
data.SubjectPropertyCity_UserChar3 = data['SubjectPropertyCity_UserChar3'].str.strip()
data.SubjectPropertyState_UserChar5 = data['SubjectPropertyState_UserChar5'].str.strip()
data.SubjectPropertyZipcode_UserChar6 = data['SubjectPropertyZipcode_UserChar6'].str.strip()

In [4]:
#clean zipcode- extract first 5 digits of zipcode only
data.SubjectPropertyZipcode_UserChar6 = data.SubjectPropertyZipcode_UserChar6.str[0:5]

In [5]:
#drop unrequired columns
data.drop(['Description', 'Ordinal','FirstMortgageBalance_UserAmount1', 'SubjectPropertyCounty_UserChar4'], 
                 axis=1, inplace=True)

In [6]:
#import zipcode data
zipcode_FL = pd.read_csv("C:/Users/kalyaniK/Documents/Zillow data/FL_zip_code.csv")
zipcode_FL.head()

     zip               city state   latitude  longitude
0  32003     Fleming Island    FL  30.160000 -81.700000
1  32004  Ponte Vedra Beach    FL  29.937673 -81.420603
2  32006     Fleming Island    FL  30.110000 -81.720000
3  32007           Bostwick    FL  29.799631 -81.627324
4  32008           Branford    FL  29.928691 -82.910320

In [7]:
#convert zip to character
zipcode_FL.zip = zipcode_FL.zip.astype(str).str.upper()
zipcode_FL.zip = zipcode_FL.zip.str.strip()

In [8]:
#merge the two data frames -- when using multiple columns for join use [] to enclose ids separated by space
data_zip = pd.merge(data, zipcode_FL[['zip','city','state']],  
                           left_on = 'SubjectPropertyZipcode_UserChar6', right_on = 'zip', how = 'left') 
data_zip.head()

,ProcessDate,PARENTACCOUNT,TYPE,ID,Valuation_UserAmount2,SubjectPropertyStreet_UserChar1,SubjectPropertyExtraAddress_UserChar2,SubjectPropertyCity_UserChar3,SubjectPropertyState_UserChar5,SubjectPropertyZipcode_UserChar6,zip,city,state
0,20180630,13862,31,39,95900,5105 W HOMER AVE,NAN,TAMPA,FL,33629,33629,Tampa,FL
1,20180630,14159,31,39,0,2913 WEST OSBORNE AVE,NAN,TAMPA,FL,33614,33614,Tampa,FL
2,20180630,15180,31,39,0,3202 N MACDILL AVE,NAN,TAMPA,FL,33607,33607,Tampa,FL
3,20180630,17079,31,39,314600,815 N VALRICO RD,NAN,VALRICO,FL,33594,33594,Valrico,FL
4,20180630,17152,31,39,0,705 S LOIS AVE,NAN,TAMPA,FL,33609,33609,Tampa,FL

In [9]:
#merge the requried fields to form FullAddress (exclude zip)
second_mort_zip['FullAddress'] = second_mort_zip.apply(lambda x: '%s %s %s' % (x['SubjectPropertyStreet_UserChar1'],
                                                                              x['city'], x['state']), axis = 1)
second_mort_zip.FullAddress = second_mort_zip.FullAddress.str.upper()
second_mort_zip.head()

,ProcessDate,PARENTACCOUNT,TYPE,ID,Valuation_UserAmount2,SubjectPropertyStreet_UserChar1,SubjectPropertyExtraAddress_UserChar2,SubjectPropertyCity_UserChar3,SubjectPropertyState_UserChar5,SubjectPropertyZipcode_UserChar6,zip,city,state,FullAddress
0,20180630,13862,31,39,95900,5105 W HOMER AVE,NAN,TAMPA,FL,33629,33629,Tampa,FL,5105 W HOMER AVE TAMPA FL
1,20180630,14159,31,39,0,2913 WEST OSBORNE AVE,NAN,TAMPA,FL,33614,33614,Tampa,FL,2913 WEST OSBORNE AVE TAMPA FL
2,20180630,15180,31,39,0,3202 N MACDILL AVE,NAN,TAMPA,FL,33607,33607,Tampa,FL,3202 N MACDILL AVE TAMPA FL
3,20180630,17079,31,39,314600,815 N VALRICO RD,NAN,VALRICO,FL,33594,33594,Valrico,FL,815 N VALRICO RD VALRICO FL
4,20180630,17152,31,39,0,705 S LOIS AVE,NAN,TAMPA,FL,33609,33609,Tampa,FL,705 S LOIS AVE TAMPA FL

In [10]:
#drop unrequired columns
second_mort_zip.drop(['city', 'state','SubjectPropertyZipcode_UserChar6', 'SubjectPropertyState_UserChar5',
                     'SubjectPropertyCity_UserChar3', 'SubjectPropertyExtraAddress_UserChar2', 
                      'SubjectPropertyStreet_UserChar1'], axis=1, inplace=True)
second_mort_zip.head()

,ProcessDate,PARENTACCOUNT,TYPE,ID,Valuation_UserAmount2,zip,FullAddress
0,20180630,13862,31,39,95900,33629,5105 W HOMER AVE TAMPA FL
1,20180630,14159,31,39,0,33614,2913 WEST OSBORNE AVE TAMPA FL
2,20180630,15180,31,39,0,33607,3202 N MACDILL AVE TAMPA FL
3,20180630,17079,31,39,314600,33594,815 N VALRICO RD VALRICO FL
4,20180630,17152,31,39,0,33609,705 S LOIS AVE TAMPA FL

#ZILLOW ID AND LAST PRICE SOLD SEARCH USING pyzillow PACKAGE

In [32]:
#zillow API
zillow_api_key = 'X1-ZWz1gl2dn1skqz_7sxq3'
#zillow_api_key = 'X1-ZWz18g8p9imzuz_7galu'

In [33]:
#select 200 rows (from the data)
five_500 = second_mort_zip.iloc[1700:2200, :]
five_500.shape #check rows and cols

(500, 7)

In [34]:
five_500 = five_500.reset_index(drop=True) #reset index and drop the new col
five_500.head()

,ProcessDate,PARENTACCOUNT,TYPE,ID,Valuation_UserAmount2,zip,FullAddress
0,20180630,514869,31,39,153300,33592,10949 TOM FOLSOM RD THONOTOSASSA FL
1,20180630,514927,31,39,0,33705,2280 E BAY ISLE DR SE SAINT PETERSBURG FL
2,20180630,515056,31,39,0,33637,11201 DAVIS RD TAMPA FL
3,20180630,515072,31,39,335100,32308,2348 TOUR EIFFEL DR TALLAHASSEE FL
4,20180630,515353,31,39,210500,34453,2113 FOREST DR INVERNESS FL

In [35]:
#initialize values
zillowiddict=[]
resultindex =[]
errorlist=[]

In [36]:
data_set = five_500
#data_set['OrigIndex']=second_200.index
data_set.shape

(500, 7)

In [37]:
data_set.head(10)

,ProcessDate,PARENTACCOUNT,TYPE,ID,Valuation_UserAmount2,zip,FullAddress
0,20180630,514869,31,39,153300,33592,10949 TOM FOLSOM RD THONOTOSASSA FL
1,20180630,514927,31,39,0,33705,2280 E BAY ISLE DR SE SAINT PETERSBURG FL
2,20180630,515056,31,39,0,33637,11201 DAVIS RD TAMPA FL
3,20180630,515072,31,39,335100,32308,2348 TOUR EIFFEL DR TALLAHASSEE FL
4,20180630,515353,31,39,210500,34453,2113 FOREST DR INVERNESS FL
5,20180630,515775,31,39,219100,33615,8342 FOUNTAIN AVE TAMPA FL
6,20180630,515908,31,39,0,33610,3714 E SHAWDOWLAWN AV TAMPA FL
7,20180630,515981,31,21,0,33603,5101 N RIVER BLVD TAMPA FL
8,20180630,516401,31,39,728200,33609,4505 W SYLVAN RAMBLE ST TAMPA FL
9,20180630,516450,31,39,188600,33567,4605 HORTON RD PLANT CITY FL

In [38]:
for i in range(data_set.shape[0]):
    zillow_data = ZillowWrapper(zillow_api_key)
    try:
        deep_search_response = zillow_data.get_deep_search_results(data_set.FullAddress.loc[i],data_set.zip.loc[i])
        zillowiddict.append(GetDeepSearchResults(deep_search_response))
        resultindex.append(i)
    except:
        errorlist.append(i)

In [39]:
print(resultindex)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 20, 21, 22, 23, 24, 25, 26, 30, 31, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 74, 75, 76, 77, 78, 79, 80, 81, 82, 84, 85, 86, 87, 88, 89, 91, 92, 93, 94, 95, 96, 97, 98, 99, 100, 102, 103, 104, 105, 106, 107, 108, 109, 111, 112, 113, 114, 115, 116, 117, 118, 119, 120, 121, 122, 123, 124, 125, 126, 127, 128, 129, 130, 131, 132, 133, 134, 135, 136, 137, 138, 139, 140, 141, 143, 144, 145, 146, 147, 148, 149, 150, 151, 152, 153, 154, 155, 156, 157, 158, 159, 160, 161, 162, 163, 164, 165, 166, 170, 171, 172, 173, 174, 175, 176, 177, 178, 179, 180, 181, 182, 184, 185, 186, 187, 188, 189, 190, 192, 193, 194, 195, 196, 197, 199, 200, 201, 202, 204, 205, 206, 207, 208, 209, 210, 211, 212, 213, 214, 215, 216, 217, 218, 219, 220, 221, 222, 223, 224, 225, 226, 227, 228, 229, 230, 231, 232, 233, 234, 235, 236, 237, 238, 239, 240, 241, 243, 244, 245, 246, 247, 248, 249, 250, 251, 252, 253, 254, 255, 256, 257, 258, 259, 260, 261, 262, 263, 264, 265, 266, 267, 268, 269, 271, 272, 273, 274, 275, 276, 277, 278, 279, 280, 281, 282, 283, 284, 285, 286, 287, 289, 290, 291, 292, 293, 294, 295, 296, 297, 298, 299, 300, 301, 302, 303, 304, 305, 306, 307, 308, 309, 310, 311, 312, 313, 315, 316, 317, 318, 319, 320, 321, 322, 323, 324, 325, 326, 327, 328, 329, 330, 331, 333, 334, 335, 336, 337, 338, 339, 340, 341, 342, 343, 344, 345, 346, 347, 348, 349, 350, 351, 352, 353, 354, 355, 356, 358, 359, 360, 361, 362, 363, 364, 365, 366, 367, 368, 369, 370, 371, 372, 373, 374, 375, 376, 377, 378, 379, 380, 381, 382, 383, 384, 385, 386, 387, 388, 389, 390, 391, 392, 393, 395, 396, 397, 399, 401, 402, 403, 404, 405, 406, 407, 408, 409, 410, 411, 412, 413, 414, 415, 416, 417, 419, 420, 421, 422, 425, 426, 427, 428, 429, 430, 431, 432, 433, 435, 436, 437, 438, 440, 441, 442, 443, 444, 445, 446, 447, 448, 449, 450, 451, 452, 453, 454, 455, 456, 457, 458, 459, 460, 461, 462, 463, 464, 465, 466, 467, 468, 469, 470, 471, 472, 473, 474, 475, 476, 477, 478, 479, 480, 481, 482, 483, 484, 485, 486, 487, 488, 489, 490, 491, 492, 493, 494, 495, 496, 497, 498, 499]

In [40]:
len(errorlist)

34

In [41]:
print(errorlist) #indexes for which a match was not found on zillow

[19, 27, 28, 29, 32, 33, 72, 73, 83, 90, 101, 110, 142, 167, 168, 169, 183, 191, 198, 203, 242, 270, 288, 314, 332, 357, 394, 398, 400, 418, 423, 424, 434, 439]

In [42]:
zillowdf=pd.DataFrame()

In [43]:
#extract elements and store in pd dataframe
zillowdf['zillow_id']=pd.Series([i.zillow_id for i in zillowiddict])
zillowdf['home_type']=pd.Series([i.home_type for i in zillowiddict])
#zillowdf['home_detail_link']=pd.Series([i.home_detail_link for i in zillowiddict])
#zillowdf['graph_data_link']=pd.Series([i.graph_data_link for i in zillowiddict])
#zillowdf['map_this_home_link']=pd.Series([i.map_this_home_link for i in zillowiddict])
zillowdf['latitude']=pd.Series([i.latitude for i in zillowiddict])
zillowdf['longitude']=pd.Series([i.longitude for i in zillowiddict])
zillowdf['tax_year']=pd.Series([i.tax_year for i in zillowiddict])
zillowdf['tax_value']=pd.Series([i.tax_value for i in zillowiddict])
zillowdf['year_built']=pd.Series([i.year_built for i in zillowiddict])
zillowdf['property_size']=pd.Series([i.property_size for i in zillowiddict])
zillowdf['home_size']=pd.Series([i.home_size for i in zillowiddict])
zillowdf['area_unit']=pd.Series([i.area_unit for i in zillowiddict])
zillowdf['bathrooms']=pd.Series([i.bathrooms for i in zillowiddict])
zillowdf['bedrooms']=pd.Series([i.bedrooms for i in zillowiddict])
zillowdf['last_sold_date']=pd.Series([i.last_sold_date for i in zillowiddict])
zillowdf['last_sold_price']=pd.Series([i.last_sold_price for i in zillowiddict])
zillowdf['zestimate_amount']=pd.Series([i.zestimate_amount for i in zillowiddict])
zillowdf['zestimate_last_updated']=pd.Series([i.zestimate_last_updated for i in zillowiddict])
zillowdf['zestimate_value_change']=pd.Series([i.zestimate_value_change for i in zillowiddict])
zillowdf['zestimate_valuation_range_high']=pd.Series([i.zestimate_valuation_range_high for i in zillowiddict])
zillowdf['zestimate_valuationRange_low']=pd.Series([i.zestimate_valuationRange_low for i in zillowiddict])
#zillowdf['zestimate_percentile']=pd.Series([i.zestimate_percentile for i in zillowiddict])

In [44]:
zillowdf['DF_Index'] = resultindex

In [24]:
zillowdf.head(20)

,zillow_id,home_type,latitude,longitude,tax_year,tax_value,year_built,property_size,home_size,area_unit,bathrooms,bedrooms,last_sold_date,last_sold_price,zestimate_amount,zestimate_last_updated,zestimate_value_change,zestimate_valuation_range_high,zestimate_valuationRange_low,DF_Index
0,46329795,SingleFamily,28.249206,-82.36915,2017,330876.0,1992,81893,3249,SqFt,3.0,None,08/28/2000,64000,413653,08/14/2018,-18366,434336,392970,0
1,44993697,SingleFamily,27.891983,-82.291061,2017,194279.0,1970,17766,2001,SqFt,2.0,4,01/01/1970,29500,276802,08/14/2018,3810,290642,262962,1
2,45065332,SingleFamily,27.881242,-82.52597,2017,122959.0,1957,7140,1172,SqFt,2.0,3,None,None,220368,08/14/2018,7996,231386,209350,2
3,45116301,SingleFamily,28.039597,-82.391103,2017,136388.0,1954,8925,2144,SqFt,2.5,4,05/01/1977,36500,206051,08/14/2018,-1310,216354,183385,3
4,45116073,SingleFamily,28.038787,-82.394667,2017,128065.0,1958,7823,2386,SqFt,2.0,4,None,None,208057,08/14/2018,2704,218460,197654,4
5,43426944,SingleFamily,28.334662,-80.749127,2017,189240.0,1966,11326,2927,SqFt,2.0,3,04/01/1988,102500,281149,08/14/2018,-5279,303641,267092,5
6,44913235,SingleFamily,28.017529,-82.494052,2017,150032.0,1969,8025,2268,SqFt,2.0,4,04/01/1980,62500,242579,08/14/2018,4955,254708,230450,6
7,44913235,SingleFamily,28.017529,-82.494052,2017,150032.0,1969,8025,2268,SqFt,2.0,4,04/01/1980,62500,242579,08/14/2018,4955,254708,230450,7
8,44920800,SingleFamily,28.159552,-82.428573,2017,172859.0,1982,24640,1943,SqFt,2.0,3,04/01/1984,96000,263426,08/14/2018,-4513,276597,250255,8
9,45034827,SingleFamily,28.038774,-82.469431,2017,97775.0,1953,11700,1125,SqFt,1.0,2,None,None,171607,08/14/2018,7163,180187,163027,9
10,44847697,SingleFamily,28.128535,-82.566443,2017,144206.0,1968,27442,1565,SqFt,2.0,3,05/16/2013,170000,238693,08/14/2018,-479,260175,217211,10
11,44980151,SingleFamily,27.946764,-82.267116,2017,120701.0,1964,13750,1613,SqFt,2.0,3,07/01/1979,45000,195949,08/14/2018,2802,205746,178314,11
12,45064432,SingleFamily,27.899394,-82.520139,2017,153724.0,1955,7000,1680,SqFt,2.0,3,None,None,307239,08/14/2018,12233,328746,288805,12
13,44970984,SingleFamily,27.974488,-82.269554,2017,129775.0,1975,13125,1348,SqFt,2.0,3,None,None,184359,08/14/2018,-889,193577,175141,13
14,44897632,SingleFamily,28.082553,-82.531766,2017,217758.0,1984,9200,2057,SqFt,2.0,4,02/01/1984,123900,317806,08/14/2018,-6196,333696,301916,14
15,46373250,SingleFamily,28.24003,-82.169844,2017,212694.0,1995,14810,2730,SqFt,2.5,4,06/18/2012,180000,280026,08/14/2018,-2826,294027,266025,15
16,46373250,SingleFamily,28.24003,-82.169844,2017,212694.0,1995,14810,2730,SqFt,2.5,4,06/18/2012,180000,280026,08/14/2018,-2826,294027,266025,16
17,44982173,SingleFamily,27.935353,-82.274754,2017,80369.0,1963,6649,1528,SqFt,1.0,2,None,None,159278,08/14/2018,3243,167242,151314,17
18,82047389,SingleFamily,27.896338,-82.272995,2017,252050.0,1972,145490,1946,SqFt,2.0,4,11/08/2001,100,307551,08/14/2018,-21651,329080,276796,18
19,44951800,SingleFamily,27.718113,-82.43796,2017,364492.0,1968,34848,4684,SqFt,4.5,4,10/30/2001,270000,806370,08/14/2018,9603,983771,733797,19

In [ ]:
#write as csv
#zillowdf.to_csv('C:/Users/kalyaniK/Documents/Zillow data/zillowdf.csv', sep=',')

In [45]:
#convert index to column
data_set.shape

(500, 7)

In [46]:
#assign index values to column
#data_set = data_set.reset_index(drop=True)
data_set['Index1'] = data_set.index
data_set.tail(10)

,ProcessDate,PARENTACCOUNT,TYPE,ID,Valuation_UserAmount2,zip,FullAddress,Index1
490,20180630,594648,31,39,0,33617,6615 JENNIFER DR TAMPA FL,490
491,20180630,594689,31,27,211100,33584,11820 DAVIS POOL ROAD SEFFNER FL,491
492,20180630,595041,31,39,0,34216,115 PELICAN DR ANNA MARIA FL,492
493,20180630,595041,31,40,880200,34216,115 PELICAN DR ANNA MARIA FL,493
494,20180630,595264,31,21,0,33610,1516 E LAKE AVE TAMPA FL,494
495,20180630,595397,31,39,280600,34655,6802 RIDGE TOP DR NEW PORT RICHEY FL,495
496,20180630,595421,31,40,232100,33618,12306 VERA AVE TAMPA FL,496
497,20180630,595637,31,40,216200,33594,228 SKYWOOD DR VALRICO FL,497
498,20180630,595702,31,41,289200,33624,15402 TIMBERLINE DR TAMPA FL,498
499,20180630,596031,31,39,132400,33619,1010 KIRKLAND DR TAMPA FL,499

In [47]:
#datatype of Index1
zillowdf['DF_Index'] = zillowdf['DF_Index'].astype(int)
data_set['Index1'] = data_set['Index1'].astype(int)

In [48]:
#merge the two dataframes by index id
result = pd.merge(data_set, zillowdf, left_on='Index1', right_on='DF_Index', how = 'left')

In [49]:
result.shape

(500, 28)

In [50]:
result

,ProcessDate,PARENTACCOUNT,TYPE,ID,Valuation_UserAmount2,zip,FullAddress,Index1,zillow_id,home_type,...,bathrooms,bedrooms,last_sold_date,last_sold_price,zestimate_amount,zestimate_last_updated,zestimate_value_change,zestimate_valuation_range_high,zestimate_valuationRange_low,DF_Index
0,20180630,514869,31,39,153300,33592,10949 TOM FOLSOM RD THONOTOSASSA FL,0,44964234,SingleFamily,...,2.0,3,None,None,182304,08/14/2018,13375,191419,173189,0.0
1,20180630,514927,31,39,0,33705,2280 E BAY ISLE DR SE SAINT PETERSBURG FL,1,47253650,SingleFamily,...,3.5,None,10/13/1993,8000,917132,08/14/2018,8914,962989,871275,1.0
2,20180630,515056,31,39,0,33637,11201 DAVIS RD TAMPA FL,2,44931154,SingleFamily,...,2.5,3,01/01/1972,5000,219837,08/14/2018,3027,233027,204448,2.0
3,20180630,515072,31,39,335100,32308,2348 TOUR EIFFEL DR TALLAHASSEE FL,3,45570715,SingleFamily,...,None,None,09/11/2000,168500,350430,08/14/2018,-1951,367951,332909,3.0
4,20180630,515353,31,39,210500,34453,2113 FOREST DR INVERNESS FL,4,43625595,SingleFamily,...,2.0,3,None,None,163438,08/14/2018,6355,184685,145460,4.0
5,20180630,515775,31,39,219100,33615,8342 FOUNTAIN AVE TAMPA FL,5,44872794,SingleFamily,...,2.0,3,None,None,244844,08/14/2018,3183,257086,232602,5.0
6,20180630,515908,31,39,0,33610,3714 E SHAWDOWLAWN AV TAMPA FL,6,45086278,SingleFamily,...,2.0,5,None,None,186913,08/14/2018,-1857,196259,177567,6.0
7,20180630,515981,31,21,0,33603,5101 N RIVER BLVD TAMPA FL,7,45093096,SingleFamily,...,3.5,3,12/09/2009,170000,392370,08/14/2018,3918,411988,372752,7.0
8,20180630,516401,31,39,728200,33609,4505 W SYLVAN RAMBLE ST TAMPA FL,8,45046871,SingleFamily,...,3.0,5,None,None,846038,08/14/2018,-6322,888340,803736,8.0
9,20180630,516450,31,39,188600,33567,4605 HORTON RD PLANT CITY FL,9,45030574,SingleFamily,...,1.0,2,None,None,156612,08/14/2018,8946,170707,139385,9.0
10,20180630,516476,31,39,140200,34601,1021 WHITEWAY DR BROOKSVILLE FL,10,44798764,SingleFamily,...,2.0,3,None,None,139154,08/14/2018,-3465,153069,121064,10.0
11,20180630,516583,31,39,249300,33905,15574 HORSESHOE LN FORT MYERS FL,11,45512841,SingleFamily,...,2.0,3,06/28/1999,86300,173148,08/14/2018,331,181805,164491,11.0
12,20180630,516807,31,39,153300,33604,503 W PARIS ST TAMPA FL,12,45092274,SingleFamily,...,1.0,2,08/01/1982,37000,200305,08/14/2018,-5059,212323,190290,12.0
13,20180630,517284,31,39,0,33617,641 S RIVERHILLS DRIVE TAMPA FL,13,45116783,SingleFamily,...,2.0,4,08/23/2013,390000,325780,08/14/2018,1499,355100,283429,13.0
14,20180630,517334,31,39,282800,33610,6507 N 33RD ST TAMPA FL,14,45084213,SingleFamily,...,1.0,3,None,None,192922,08/14/2018,-383,202568,183276,14.0
15,20180630,517367,31,39,0,34601,9308 HAPPY TRAIL BROOKSVILLE FL,15,44801639,SingleFamily,...,2.0,3,06/28/2017,220000,277406,08/14/2018,16246,291276,263536,15.0
16,20180630,517367,31,100,214200,34601,9308 HAPPY TRAIL BROOKSVILLE FL,16,44801639,SingleFamily,...,2.0,3,06/28/2017,220000,277406,08/14/2018,16246,291276,263536,16.0
17,20180630,517862,31,39,297800,33647,9433 PEBBLE GLEN AVE TAMPA FL,17,44959187,SingleFamily,...,2.0,4,08/01/1987,115200,291529,08/14/2018,1095,306105,276953,17.0
18,20180630,517961,31,39,0,33615,10220 CUTTEN GREEN CT TAMPA FL,18,44867851,SingleFamily,...,2.0,3,08/30/2016,145000,168526,08/14/2018,796,178638,153359,18.0
19,20180630,518167,31,39,0,NaN,1737 MICHIGAN AVE NAN NAN,19,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
20,20180630,518498,31,38,140200,33604,907 E CRENSHAW ST TAMPA FL,20,45096757,SingleFamily,...,1.0,2,None,None,185620,08/14/2018,546,194901,176339,20.0
21,20180630,518670,31,40,120300,33565,6402 W KNIGHTS GRIFFIN RD PLANT CITY FL,21,45010176,SingleFamily,...,2.0,3,None,None,313328,08/14/2018,7991,335261,291395,21.0
22,20180630,518696,31,39,0,33569,10407 SEDGEBROOK DR RIVERVIEW FL,22,45001680,SingleFamily,...,3.0,4,03/07/1997,140000,280361,08/14/2018,1716,294379,266343,22.0
23,20180630,518696,31,40,302100,33569,10407 SEDGEBROOK DR RIVERVIEW FL,23,45001680,SingleFamily,...,3.0,4,03/07/1997,140000,280361,08/14/2018,1716,294379,266343,23.0
24,20180630,518977,31,39,613500,33629,2826 W MORRISON AVE TAMPA FL,24,45051349,SingleFamily,...,2.5,5,05/17/1994,160714,763897,08/14/2018,10533,802092,725702,24.0
25,20180630,518993,31,100,0,33629,3605 W. LEONA ST. TAMPA FL,25,45057702,SingleFamily,...,2.5,4,06/04/1996,100000,705472,08/14/2018,10578,740746,670198,25.0
26,20180630,519421,31,100,395300,33611,5414 S CRESCENT DR TAMPA FL,26,45069339,Townhouse,...,2.0,3,None,None,385499,08/14/2018,9823,412484,366224,26.0
27,20180630,519447,31,39,0,33617,202 E MISSION HILLS AVE TAMPA FL,27,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
28,20180630,519470,31,39,0,33540,710 COUNTY LINE RD ZEPHYRHILLS FL,28,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
29,20180630,519470,31,40,147100,33540,38935 COUNTY LINE RD ZEPHYRHILLS FL,29,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
470,20180630,591776,31,21,123100,33619,6840 KINGSTON DR TAMPA FL,470,44938809,SingleFamily,...,2.0,3,05/28/1996,13500,198836,08/14/2018,-953,214743,174976,470.0
471,20180630,591784,31,101,0,34219,2409 156TH PL E PARRISH FL,471,99730746,SingleFamily,...,2.0,3,10/10/2013,62000,475634,08/14/2018,3037,518441,432827,471.0
472,20180630,591784,31,102,0,34219,2409 156TH PL E PARRISH FL,472,99730746,SingleFamily,...,2.0,3,10/10/2013,62000,475634,08/14/2018,3037,518441,432827,472.0
473,20180630,592071,31,39,398400,33624,4205 CARTNAL AVE TAMPA FL,473,44903192,SingleFamily,...,2.5,4,04/01/1993,134900,387913,08/14/2018,4929,407309,368517,473.0
474,20180630,592303,31,100,186900,32703,243 COUNTRY LANDING BLVD APOPKA FL,474,46079955,SingleFamily,...,2.0,3,06/12/2003,130000,205790,08/14/2018,3257,216079,195501,474.0
475,20180630,592469,31,39,0,33607,2006 N GLEN AVE TAMPA FL,475,45044878,SingleFamily,...,2.0,2,None,None,219757,08/14/2018,2616,230745,208769,475.0
476,20180630,592691,31,39,0,34209,1011 83RD ST NW BRADENTON FL,476,45739160,SingleFamily,...,2.0,3,11/13/2012,227500,364101,08/14/2018,4449,382306,345896,476.0
477,20180630,592816,31,20,161700,33617,6101 EAST 112TH AVE TAMPA FL,477,45113979,SingleFamily,...,3.0,3,None,None,241170,08/14/2018,-1840,265287,219465,477.0
478,20180630,593442,31,39,197000,33606,4623 WISHART BLVD TAMPA FL,478,45041626,SingleFamily,...,2.0,1,11/06/1998,91800,256608,08/14/2018,-2152,269438,243778,478.0
479,20180630,593442,31,100,247800,33608,4623 WISHART BLVD TAMPA FL,479,45041626,SingleFamily,...,2.0,1,11/06/1998,91800,256608,08/14/2018,-2152,269438,243778,479.0
480,20180630,593640,31,100,170700,34606,152 HAGUE CT SPRING HILL FL,480,69821475,SingleFamily,...,2.0,3,12/12/2012,120000,204841,08/14/2018,4921,225325,184357,480.0
481,20180630,593665,31,39,133900,33604,2303 W FLORA ST TAMPA FL,481,45039095,SingleFamily,...,1.0,2,None,None,153410,08/14/2018,1891,161080,145740,481.0
482,20180630,593806,31,25,135700,34234,3044 BUNCHE ST SARASOTA FL,482,47473132,SingleFamily,...,2.0,3,11/01/1990,50000,162366,08/14/2018,3081,170484,154248,482.0
483,20180630,594002,31,25,0,34654,9820 SUNBEAM DR NEW PORT RICHEY FL,483,46374290,MultiFamily2To4,...,7.0,6,03/09/2011,185000,466133,08/14/2018,4537,494101,433504,483.0
484,20180630,594135,31,100,205200,33610,1601 E IDLEWILD AVE TAMPA FL,484,45083174,SingleFamily,...,1.0,2,None,None,165581,08/14/2018,-2917,175516,157302,484.0
485,20180630,594192,31,40,213500,33617,633 S RIVERHILLS DR TAMPA FL,485,45116787,SingleFamily,...,2.0,3,None,None,347690,08/14/2018,8846,389413,285106,485.0
486,20180630,594259,31,39,665700,33609,4208 W BEACH PARK DR TAMPA FL,486,45047227,SingleFamily,...,3.5,4,12/01/2015,810000,973114,08/14/2018,9584,1021770,924458,486.0
487,20180630,594465,31,39,0,33625,15108 HEATHRIDGE DR TAMPA FL,487,44850576,SingleFamily,...,2.5,3,12/03/2001,158500,320823,08/14/2018,6436,336864,304782,487.0
488,20180630,594549,31,27,0,33619,4815 S 88TH ST TAMPA FL,488,44943597,SingleFamily,...,1.0,2,None,None,116961,08/14/2018,-5073,123979,104095,488.0
489,20180630,594598,31,39,289900,33647,9702 FOX CHAPEL RD TAMPA FL,489,44959373,SingleFamily,...,2.0,4,06/16/1994,108000,263806,08/14/2018,1953,276996,250616,489.0
490,20180630,594648,31,39,0,33617,6615 JENNIFER DR TAMPA FL,490,45114332,SingleFamily,...,2.0,4,05/30/2000,126000,242403,08/14/2018,6377,254523,230283,490.0
491,20180630,594689,31,27,211100,33584,11820 DAVIS POOL ROAD SEFFNER FL,491,44964752,SingleFamily,...,2.0,3,None,None,223517,08/14/2018,-1866,241398,207871,491.0
492,20180630,595041,31,39,0,34216,115 PELICAN DR ANNA MARIA FL,492,45783955,SingleFamily,...,2.0,2,01/06/2017,630000,893548,08/14/2018,12150,947161,831000,492.0
493,20180630,595041,31,40,880200,34216,115 PELICAN DR ANNA MARIA FL,493,45783955,SingleFamily,...,2.0,2,01/06/2017,630000,893548,08/14/2018,12150,947161,831000,493.0
494,20180630,595264,31,21,0,33610,1516 E LAKE AVE TAMPA FL,494,45099095,SingleFamily,...,1.0,2,None,None,94605,08/14/2018,3317,103119,79468,494.0
495,20180630,595397,31,39,280600,34655,6802 RIDGE TOP DR NEW PORT RICHEY FL,495,46462439,SingleFamily,...,3.0,None,None,None,375569,08/14/2018,-3818,398103,356791,495.0
496,20180630,595421,31,40,232100,33618,12306 VERA AVE TAMPA FL,496,44903972,SingleFamily,...,2.0,3,01/01/1972,4000,226361,08/14/2018,1420,237679,212779,496.0
497,20180630,595637,31,40,216200,33594,228 SKYWOOD DR VALRICO FL,497,45015900,SingleFamily,...,2.0,3,None,None,193965,08/14/2018,1074,203663,174569,497.0
498,20180630,595702,31,41,289200,33624,15402 TIMBERLINE DR TAMPA FL,498,44889708,SingleFamily,...,2.5,4,06/01/1979,70900,293861,08/14/2018,3405,308554,279168,498.0
499,20180630,596031,31,39,132400,33619,1010 KIRKLAND DR TAMPA FL,499,44938323,SingleFamily,...,1.5,2,None,None,153522,08/14/2018,4766,162733,145846,499.0

In [51]:
#write as csv
result.to_csv('C:/Users/kalyaniK/Documents/Zillow data/result.csv', sep=',')

In [52]:
#concatenate the csv files into one dataset and store it as a result
df1 = pd.read_csv('C:/Users/kalyaniK/Documents/Zillow data/result files/first200rows.csv', sep=',')
df2 = pd.read_csv('C:/Users/kalyaniK/Documents/Zillow data/result files/second300.csv', sep=',')
df3 = pd.read_csv('C:/Users/kalyaniK/Documents/Zillow data/result files/third200.csv', sep=',')
df4 = pd.read_csv('C:/Users/kalyaniK/Documents/Zillow data/result files/four500.csv', sep=',')
df5 = pd.read_csv('C:/Users/kalyaniK/Documents/Zillow data/result files/five500.csv', sep=',')
df6 = pd.read_csv('C:/Users/kalyaniK/Documents/Zillow data/result files/six500.csv', sep=',')

In [53]:
df1.head()

,ProcessDate,PARENTACCOUNT,TYPE,ID,Valuation_UserAmount2,zip,FullAddress,Index1,zillow_id,home_type,...,bathrooms,bedrooms,last_sold_date,last_sold_price,zestimate_amount,zestimate_last_updated,zestimate_value_change,zestimate_valuation_range_high,zestimate_valuationRange_low,DF_Index
0,20180630,13862,31,39,95900,33629.0,5105 W HOMER AVE TAMPA FL,0,45054743.0,SingleFamily,...,2.0,3.0,NaN,NaN,1621569.0,8/12/2018,23676.0,1702647.0,1540491.0,0.0
1,20180630,14159,31,39,0,33614.0,2913 WEST OSBORNE AVE TAMPA FL,1,45042211.0,SingleFamily,...,2.0,3.0,3/21/2016,205000.0,237556.0,8/12/2018,2208.0,249434.0,225678.0,1.0
2,20180630,15180,31,39,0,33607.0,3202 N MACDILL AVE TAMPA FL,2,45101634.0,SingleFamily,...,2.0,3.0,NaN,NaN,217576.0,8/12/2018,-4595.0,228455.0,195818.0,2.0
3,20180630,17079,31,39,314600,33594.0,815 N VALRICO RD VALRICO FL,3,45015824.0,SingleFamily,...,3.0,4.0,NaN,NaN,332281.0,8/12/2018,-32521.0,348895.0,315667.0,3.0
4,20180630,17152,31,39,0,33609.0,705 S LOIS AVE TAMPA FL,4,45047207.0,SingleFamily,...,4.0,5.0,6/4/2015,475000.0,927097.0,8/12/2018,20293.0,1038349.0,843658.0,4.0

In [57]:
complete_result = pd.concat([df1,df2,df3,df4,df5,df6], axis=0, ignore_index=False)

In [58]:
complete_result.shape

(2200, 29)

In [60]:
complete_result

,DF_Index,FullAddress,ID,Index1,PARENTACCOUNT,ProcessDate,TYPE,Unnamed: 0,Valuation_UserAmount2,area_unit,...,tax_value,tax_year,year_built,zestimate_amount,zestimate_last_updated,zestimate_valuationRange_low,zestimate_valuation_range_high,zestimate_value_change,zillow_id,zip
0,0.0,5105 W HOMER AVE TAMPA FL,39,0,13862,20180630,31,NaN,95900,SqFt,...,1112180.0,2017.0,1955.0,1621569.0,8/12/2018,1540491.0,1702647.0,23676.0,45054743.0,33629.0
1,1.0,2913 WEST OSBORNE AVE TAMPA FL,39,1,14159,20180630,31,NaN,0,SqFt,...,169778.0,2017.0,1963.0,237556.0,8/12/2018,225678.0,249434.0,2208.0,45042211.0,33614.0
2,2.0,3202 N MACDILL AVE TAMPA FL,39,2,15180,20180630,31,NaN,0,SqFt,...,146168.0,2017.0,1960.0,217576.0,8/12/2018,195818.0,228455.0,-4595.0,45101634.0,33607.0
3,3.0,815 N VALRICO RD VALRICO FL,39,3,17079,20180630,31,NaN,314600,SqFt,...,185613.0,2017.0,1955.0,332281.0,8/12/2018,315667.0,348895.0,-32521.0,45015824.0,33594.0
4,4.0,705 S LOIS AVE TAMPA FL,39,4,17152,20180630,31,NaN,0,SqFt,...,371835.0,2017.0,1951.0,927097.0,8/12/2018,843658.0,1038349.0,20293.0,45047207.0,33609.0
5,5.0,923 SYLVIA LANE TAMPA FL,39,5,18853,20180630,31,NaN,0,SqFt,...,159050.0,2017.0,1962.0,242209.0,8/12/2018,230099.0,254319.0,-6479.0,44895189.0,33613.0
6,6.0,2709 W OSBORNE AVE TAMPA FL,39,6,19174,20180630,31,NaN,0,SqFt,...,114225.0,2017.0,1966.0,185585.0,8/12/2018,176306.0,194864.0,1356.0,45043191.0,33614.0
7,7.0,9819 BROWNSTONE DR TAMPA FL,20,7,19182,20180630,31,NaN,191000,SqFt,...,128244.0,2017.0,1986.0,151713.0,8/12/2018,144127.0,175987.0,-10795.0,45034338.0,33612.0
8,8.0,8917 SOUTH MOBLEY RD ODESSA FL,22,8,23119,20180630,31,NaN,0,SqFt,...,345513.0,2017.0,1964.0,470034.0,8/12/2018,446532.0,493536.0,-1127.0,44852946.0,33556.0
9,9.0,8917 SOUTH MOBLEY RD ODESSA FL,39,9,23119,20180630,31,NaN,0,SqFt,...,345513.0,2017.0,1964.0,470034.0,8/12/2018,446532.0,493536.0,-1127.0,44852946.0,33556.0
10,10.0,14028 BLACKJACK RD DOVER FL,39,10,23622,20180630,31,NaN,250900,SqFt,...,201054.0,2017.0,1959.0,222998.0,8/12/2018,162789.0,267598.0,-2960.0,45013286.0,33527.0
11,11.0,4811 N SHIRLEY DR TAMPA FL,39,11,25049,20180630,31,NaN,0,SqFt,...,150452.0,2017.0,1965.0,237441.0,8/12/2018,223195.0,249313.0,-265.0,45041571.0,33603.0
12,12.0,925 W CIMMERON DR TAMPA FL,39,12,25668,20180630,31,NaN,255300,SqFt,...,180354.0,2017.0,1963.0,256700.0,8/12/2018,243865.0,269535.0,-2270.0,45041515.0,33603.0
13,13.0,3209 N DECATUR AVE TAMPA FL,39,13,26906,20180630,31,NaN,275100,SqFt,...,242630.0,2017.0,1954.0,376525.0,8/12/2018,357699.0,395351.0,6641.0,45104918.0,33603.0
14,14.0,3209 N DECATUR AVE TAMPA FL,100,14,26906,20180630,31,NaN,228200,SqFt,...,242630.0,2017.0,1954.0,376525.0,8/12/2018,357699.0,395351.0,6641.0,45104918.0,33603.0
15,15.0,1503 E MIMOSA DR PLANT CITY FL,39,15,26955,20180630,31,NaN,0,SqFt,...,81455.0,2017.0,1960.0,168203.0,8/12/2018,159793.0,176613.0,-1138.0,45119977.0,33563.0
16,16.0,305 N HESPERIDES ST TAMPA FL,39,16,27227,20180630,31,NaN,238500,SqFt,...,184984.0,2017.0,1959.0,321408.0,8/12/2018,305338.0,337478.0,4524.0,45046056.0,33609.0
17,17.0,4213 TACON ST TAMPA FL,39,17,27342,20180630,31,NaN,199000,SqFt,...,215130.0,2017.0,2018.0,893375.0,8/12/2018,821905.0,955911.0,3965.0,45056838.0,33629.0
18,18.0,6108 VARN RD PLANT CITY FL,39,18,28712,20180630,31,NaN,213400,SqFt,...,140635.0,2017.0,1965.0,247542.0,8/12/2018,210411.0,274772.0,-1049.0,155258255.0,33565.0
19,19.0,13304 N HAMNER AVE TAMPA FL,40,19,29074,20180630,31,NaN,0,SqFt,...,111571.0,2017.0,1961.0,187829.0,8/12/2018,178438.0,197220.0,1402.0,44906040.0,33612.0
20,20.0,1914 W KENTUCKY AVE TAMPA FL,39,20,29686,20180630,31,NaN,0,SqFt,...,184890.0,2017.0,1961.0,280393.0,8/12/2018,266373.0,294413.0,-989.0,45044505.0,33607.0
21,21.0,673 AMOR DR COCOA FL,39,21,29900,20180630,31,NaN,0,SqFt,...,119640.0,2017.0,1984.0,193650.0,8/12/2018,183968.0,203332.0,664.0,43396851.0,32927.0
22,22.0,2723 BUCKHORN OAKS DR VALRICO FL,40,22,30775,20180630,31,NaN,344200,SqFt,...,223552.0,2017.0,1988.0,299071.0,8/12/2018,284117.0,314025.0,2859.0,45017680.0,33594.0
23,23.0,4206 GLEN HAVEN LN TAMPA FL,39,23,31393,20180630,31,NaN,0,SqFt,...,160652.0,2017.0,1981.0,203549.0,8/12/2018,181159.0,225939.0,6581.0,44896675.0,33624.0
24,24.0,6017 N THATCHER AVE TAMPA FL,39,24,32599,20180630,31,NaN,0,SqFt,...,136546.0,2017.0,1963.0,217037.0,8/12/2018,206185.0,227889.0,417.0,44917685.0,33614.0
25,25.0,6310 E 113TH AVE TAMPA FL,39,25,33092,20180630,31,NaN,0,SqFt,...,260074.0,2017.0,1988.0,336541.0,8/12/2018,316349.0,353368.0,1000.0,45114530.0,33617.0
26,26.0,1210 WILLOW BEND WAY LUTZ FL,40,26,33126,20180630,31,NaN,0,SqFt,...,228348.0,2017.0,1993.0,298368.0,8/12/2018,283450.0,313286.0,-7755.0,46450580.0,33549.0
27,27.0,637 JAMAICA AVE TAMPA FL,20,27,33696,20180630,31,NaN,655500,SqFt,...,400845.0,2017.0,1952.0,672402.0,8/12/2018,638782.0,712746.0,7484.0,45111653.0,33606.0
28,28.0,637 JAMAICA AVE TAMPA FL,39,28,33696,20180630,31,NaN,0,SqFt,...,400845.0,2017.0,1952.0,672402.0,8/12/2018,638782.0,712746.0,7484.0,45111653.0,33606.0
29,29.0,14411 RAVENWOOD TRL TAMPA FL,40,29,33936,20180630,31,NaN,299400,SqFt,...,200518.0,2017.0,1975.0,317083.0,8/12/2018,301229.0,332937.0,-1393.0,44896424.0,33618.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2170,470.0,6840 KINGSTON DR TAMPA FL,21,470,591776,20180630,31,NaN,123100,SqFt,...,139642.0,2017.0,1996.0,198836.0,8/14/2018,174976.0,214743.0,-953.0,44938809.0,33619.0
2171,471.0,2409 156TH PL E PARRISH FL,101,471,591784,20180630,31,NaN,0,SqFt,...,400930.0,2017.0,2015.0,475634.0,8/14/2018,432827.0,518441.0,3037.0,99730746.0,34219.0
2172,472.0,2409 156TH PL E PARRISH FL,102,472,591784,20180630,31,NaN,0,SqFt,...,400930.0,2017.0,2015.0,475634.0,8/14/2018,432827.0,518441.0,3037.0,99730746.0,34219.0
2173,473.0,4205 CARTNAL AVE TAMPA FL,39,473,592071,20180630,31,NaN,398400,SqFt,...,290314.0,2017.0,1981.0,387913.0,8/14/2018,368517.0,407309.0,4929.0,44903192.0,33624.0
2174,474.0,243 COUNTRY LANDING BLVD APOPKA FL,100,474,592303,20180630,31,NaN,186900,SqFt,...,136838.0,2017.0,1993.0,205790.0,8/14/2018,195501.0,216079.0,3257.0,46079955.0,32703.0
2175,475.0,2006 N GLEN AVE TAMPA FL,39,475,592469,20180630,31,NaN,0,SqFt,...,151022.0,2017.0,1969.0,219757.0,8/14/2018,208769.0,230745.0,2616.0,45044878.0,33607.0
2176,476.0,1011 83RD ST NW BRADENTON FL,39,476,592691,20180630,31,NaN,0,SqFt,...,244805.0,2017.0,1983.0,364101.0,8/14/2018,345896.0,382306.0,4449.0,45739160.0,34209.0
2177,477.0,6101 EAST 112TH AVE TAMPA FL,20,477,592816,20180630,31,NaN,161700,SqFt,...,166497.0,2017.0,1970.0,241170.0,8/14/2018,219465.0,265287.0,-1840.0,45113979.0,33617.0
2178,478.0,4623 WISHART BLVD TAMPA FL,39,478,593442,20180630,31,NaN,197000,SqFt,...,182677.0,2017.0,1947.0,256608.0,8/14/2018,243778.0,269438.0,-2152.0,45041626.0,33606.0
2179,479.0,4623 WISHART BLVD TAMPA FL,100,479,593442,20180630,31,NaN,247800,SqFt,...,182677.0,2017.0,1947.0,256608.0,8/14/2018,243778.0,269438.0,-2152.0,45041626.0,33608.0
2180,480.0,152 HAGUE CT SPRING HILL FL,100,480,593640,20180630,31,NaN,170700,SqFt,...,124680.0,2017.0,2005.0,204841.0,8/14/2018,184357.0,225325.0,4921.0,69821475.0,34606.0
2181,481.0,2303 W FLORA ST TAMPA FL,39,481,593665,20180630,31,NaN,133900,SqFt,...,72780.0,2017.0,1955.0,153410.0,8/14/2018,145740.0,161080.0,1891.0,45039095.0,33604.0
2182,482.0,3044 BUNCHE ST SARASOTA FL,25,482,593806,20180630,31,NaN,135700,SqFt,...,71000.0,2017.0,1970.0,162366.0,8/14/2018,154248.0,170484.0,3081.0,47473132.0,34234.0
2183,483.0,9820 SUNBEAM DR NEW PORT RICHEY FL,25,483,594002,20180630,31,NaN,0,SqFt,...,338939.0,2017.0,1978.0,466133.0,8/14/2018,433504.0,494101.0,4537.0,46374290.0,34654.0
2184,484.0,1601 E IDLEWILD AVE TAMPA FL,100,484,594135,20180630,31,NaN,205200,SqFt,...,85620.0,2017.0,1966.0,165581.0,8/14/2018,157302.0,175516.0,-2917.0,45083174.0,33610.0
2185,485.0,633 S RIVERHILLS DR TAMPA FL,40,485,594192,20180630,31,NaN,213500,SqFt,...,266683.0,2017.0,1962.0,347690.0,8/14/2018,285106.0,389413.0,8846.0,45116787.0,33617.0
2186,486.0,4208 W BEACH PARK DR TAMPA FL,39,486,594259,20180630,31,NaN,665700,SqFt,...,652097.0,2017.0,1958.0,973114.0,8/14/2018,924458.0,1021770.0,9584.0,45047227.0,33609.0
2187,487.0,15108 HEATHRIDGE DR TAMPA FL,39,487,594465,20180630,31,NaN,0,SqFt,...,206188.0,2017.0,1988.0,320823.0,8/14/2018,304782.0,336864.0,6436.0,44850576.0,33625.0
2188,488.0,4815 S 88TH ST TAMPA FL,27,488,594549,20180630,31,NaN,0,SqFt,...,47414.0,2017.0,1961.0,116961.0,8/14/2018,104095.0,123979.0,-5073.0,44943597.0,33619.0
2189,489.0,9702 FOX CHAPEL RD TAMPA FL,39,489,594598,20180630,31,NaN,289900,SqFt,...,183326.0,2017.0,1990.0,263806.0,8/14/2018,250616.0,276996.0,1953.0,44959373.0,33647.0
2190,490.0,6615 JENNIFER DR TAMPA FL,39,490,594648,20180630,31,NaN,0,SqFt,...,155879.0,2017.0,1981.0,242403.0,8/14/2018,230283.0,254523.0,6377.0,45114332.0,33617.0
2191,491.0,11820 DAVIS POOL ROAD SEFFNER FL,27,491,594689,20180630,31,NaN,211100,SqFt,...,131037.0,2017.0,1989.0,223517.0,8/14/2018,207871.0,241398.0,-1866.0,44964752.0,33584.0
2192,492.0,115 PELICAN DR ANNA MARIA FL,39,492,595041,20180630,31,NaN,0,SqFt,...,670646.0,2017.0,1981.0,893548.0,8/14/2018,831000.0,947161.0,12150.0,45783955.0,34216.0
2193,493.0,115 PELICAN DR ANNA MARIA FL,40,493,595041,20180630,31,NaN,880200,SqFt,...,670646.0,2017.0,1981.0,893548.0,8/14/2018,831000.0,947161.0,12150.0,45783955.0,34216.0
2194,494.0,1516 E LAKE AVE TAMPA FL,21,494,595264,20180630,31,NaN,0,SqFt,...,50510.0,2017.0,1952.0,94605.0,8/14/2018,79468.0,103119.0,3317.0,45099095.0,33610.0
2195,495.0,6802 RIDGE TOP DR NEW PORT RICHEY FL,39,495,595397,20180630,31,NaN,280600,SqFt,...,265238.0,2017.0,1983.0,375569.0,8/14/2018,356791.0,398103.0,-3818.0,46462439.0,34655.0
2196,496.0,12306 VERA AVE TAMPA FL,40,496,595421,20180630,31,NaN,232100,SqFt,...,178904.0,2017.0,1973.0,226361.0,8/14/2018,212779.0,237679.0,1420.0,44903972.0,33618.0
2197,497.0,228 SKYWOOD DR VALRICO FL,40,497,595637,20180630,31,NaN,216200,SqFt,...,133171.0,2017.0,1973.0,193965.0,8/14/2018,174569.0,203663.0,1074.0,45015900.0,33594.0
2198,498.0,15402 TIMBERLINE DR TAMPA FL,41,498,595702,20180630,31,NaN,289200,SqFt,...,189802.0,2017.0,1979.0,293861.0,8/14/2018,279168.0,308554.0,3405.0,44889708.0,33624.0
2199,499.0,1010 KIRKLAND DR TAMPA FL,39,499,596031,20180630,31,NaN,132400,SqFt,...,70355.0,2017.0,1973.0,153522.0,8/14/2018,145846.0,162733.0,4766.0,44938323.0,33619.0